.modalMask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .6);
    display: flex;
    align-items: center;
    justify-content: center;
}
.modalBody {
    position: relative;
    width: 50%;
    max-width: 500px;
    background: #1d1d1d;
    box-shadow: rgb(52, 53, 54) 0px 20px 30px -10px;
    border-radius: 10px;
}

.modalHeader {
    padding: 30px;
    border-bottom: 2px solid #262626;
}

.roomTypes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.typeBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    
}

.typeBox.active {
    background: #262626;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.typeBox.active {
    background: #262626;
}
.modalFooter {
    padding: 30px;
    text-align: center;
}
.modalFooter h2 {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
}


.footerButton span {
    margin-left: 5px;
    font-weight: bold;
}

.heading {
    margin-bottom: 5px;
    margin-left: -7px;
}

.subHeading {

    font-size: 18px;
    margin: 10px 0;
    font-weight: bold;
    margin-left: -7px;
}


/* :root {
    --color: #fff;
}

.footerButton {
  --b: 3px;   
  --s: .45em; 
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;
  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.footerButton:hover,
.footerButton:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;

}

.footerButton:active {
  background: rgba(42, 41, 41, 0);
  color: #fff;
}

.footerButton img {
    margin-right: 20px;
    width: 20px;
    height: 20px;
}



} */
.closeButton {
    position: absolute;
    right: 3px;
    top: 8px;
    background: none;
}

.footerButton {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .footerButton82Shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  
  .footerButton82edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
      to left,
      rgb(28, 2, 132) 0%,
      rgb(51, 16, 179) 8%,
      rgb(40, 4, 184) 92%,
      rgb(34, 0, 82) 100%
      /* hsl(340deg 100% 16%) 0%,
      hsl(340deg 100% 32%) 8%,
      hsl(340deg 100% 32%) 92%,
      hsl(340deg 100% 16%) 100% */
    );
  }
  
  .footerButton82Front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    /* background: hsl(345deg 100% 47%); */
    background: #6C63FF;
    will-change: transform;
    transform: translateY(-4px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  
  @media (min-width: 768px) {
    .footerButton82Front {
      font-size: 1.25rem;
      padding: 12px 42px;
    }
  }
  
  .footerButton:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
  }
  
  .footerButton:hover .footerButton82Front {
    transform: translateY(-6px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  
  .footerButton:active .footerButton82Front {
    transform: translateY(-2px);
    transition: transform 34ms;
  }
  
  .footerButton:hover .footerButton82Shadow {
    transform: translateY(4px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  
  .footerButton:active .footerButton82Shadow {
    transform: translateY(1px);
    transition: transform 34ms;
  }
  
  .footerButton:focus:not(:focus-visible) {
    outline: none;
  }

  .footerButton img {
    margin-right: 20px;
    width: 20px;
    height: 20px;
}
